<%% flash.each do |key, value| %>
  <%% if value.present? %>
    <div class="alert <%%= flash_class(key) %> alert-dismissible fade in">
      <div class="flash-message">
       <%%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  <%% end %>
<%% end %>
